################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs

/Server/Webscraper/Python 3.9
/Server/Python server/env

/WebExtension/bin
/WebExtension/obj
/Server/Python server/env1
/Server/Webscraper/env
/Server/Webscraper/__pycache__
/Server/Webscraper/env1
/Server/Image comparer test project (.net framework)/bin
/Server/Image comparer test project (.net framework)/obj
/Server/Webscraper/scraped_jeans
/Server/Exif test project/bin
/Server/Exif test project/obj
/packages
/test data
/Server/ImageClassifier/ImageSegmentation/test data
/Server/ImageClassifier/TenserFlow
*.jpg