################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Server/.vs
/Server/Exif test project/obj
/Server/Webscraper/Python 3.9
/Server/Exif test project/bin
/Server/Python server/env

/WebExtension/bin
/WebExtension/obj/
/Server/Python server/env1
/Server/Webscraper/env2
/Server/Webscraper/env
/Server/Image comparer test project/obj
/Server/Image comparer test project (.net framework)/bin
/Server/Image comparer test project (.net framework)/obj
/Server/Webscraper/scraped_jeans
/packages
/test data/scraped_jeans
